numpy==1.17.0
scipy>=1.0.1
scikit-image>=0.13.0
matplotlib>=1.5.1
pandas>=0.23.1
Keras>=2.1.2
torch>=1.1.0
torchvision>=0.3.0
opencv-python>=3.1.0.5
ipython>=7.4.0
gdown==3.12.2
tensorflow==1.15
